.section_container .main_container .join_container .title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
    margin: 5% 0 5% 0 ;
}
.section_container .main_container .join_container .title img {
    width: 60px;
    height: 60px;
}
.section_container .main_container .join_container .logo_name {
    margin-left: 5%;
}
.section_container .main_container .join_container form {
    display: flex;
    flex-direction: column;
}
.section_container .main_container .join_container form ul li{
    display: flex;
    color:white;  
    width:280px; 
}
.section_container .main_container .join_container form ul .horizen{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
.section_container .main_container .join_container form ul .horizen button{
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(48, 48, 48);
    outline: none;
    border: 1px solid rgb(180,180,180);
    color:white;
    transition: background-color 1s;
    cursor: pointer;
}
.section_container .main_container .join_container form ul .horizen button:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}
.section_container .main_container .join_container form ul li input {
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 280px;
    outline: none;
    border: 2px solid rgb(180,180,180);
    margin:0 0 5% 0;
}
.section_container .main_container .join_container .joinus {
    display: flex;
    justify-content: space-between;
    width:280px;
}
.section_container .main_container .join_container .joinus button {
    color: white;
    background-color: rgb(48, 48, 48);
    border: 1px solid white;
    width: 130px;
    height: 40px;
    transition: background-color 1s;
    cursor: pointer;
}
.section_container .main_container .join_container .joinus button:hover {
    color: rgb(48, 48, 48);;
    background-color: white;
    border: 1px solid white;
    width: 130px;
    height: 40px;
}