.section_container .main_container .card_board_list {
    background-color: rgb(52, 52, 53);
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.section_container .main_container .card_board_list .card_board_header {
    background-color: rgb(48, 48, 48);
}
.section_container .main_container .card_board_list .card_board_header ul {
    display: flex;
    align-items: center;
}
.section_container .main_container .card_board_list .card_board_header ul li {
    padding: 5px;
}
.section_container .main_container .card_board_list .card_board_header ul li a {
    color: white;
}
.section_container .main_container .card_board_list .card_board_header .profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.section_container .main_container .card_board_list .card_board_cont {
    height: auto;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item1 {
    display: flex;
    justify-content: center;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item2 {
    display: flex;
    justify-content: center;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item1 img {
    width: 100%;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item2 ul {
    display: flex;
    justify-content: center;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item2 ul li {
    margin: 0 10%;
}
.section_container .main_container .card_board_list .card_board_cont .board_cont_item2 ul li a {
    color: white;
    font-size: 1.5em;
}
.section_container .main_container .card_board_list .card_board_footer {
    background-color: rgb(48, 48, 48);
    height: auto;
}
.section_container .main_container .card_board_list .card_board_footer .footer_icon {
    display: flex;
}
.section_container .main_container .card_board_list .card_board_footer ul {
    
}
.section_container .main_container .card_board_list .card_board_footer ul li {
    padding: 10px;
}
.section_container .main_container .card_board_list .card_board_footer img {
    width: 30px;
}
.section_container .main_container .card_board_list .card_board_footer .footer_comments ul li a {
    color: white;
    margin-right: 2%;
}
.section_container .main_container .search_profile_list {
    background-color: rgb(48, 48, 48);
    margin-top: 10%;
}
.section_container .main_container .search_profile_list .profile {
    display: flex;
    padding: 1% 0;
    height: auto;
    border-bottom: solid 0.5px rgb(80,80,80);
}
.section_container .main_container .search_profile_list .profile ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.section_container .main_container .search_profile_list .profile ul a {
    display: flex;
    align-items: center;
    width: 100%;
}
.section_container .main_container .search_profile_list .profile ul a li {
    color: white;
    margin-left: 3%;
}
.section_container .main_container .search_profile_list .profile ul a li img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.section_container .main_container .search_profile_list button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    border : 0;
    outline: 0;
    color:white;
    padding: 1% 0 1% 0;
    cursor: pointer;
}

.section_container .main_container .search_profile_list .more_view {
    width: 100%;
}

.section_container .main_container .search_profile_list .more_view #btn {
    height: auto;
    display: none;
    flex-direction: column;
}
.section_container .main_container .search_profile_list #btn ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section_container .main_container .search_profile_list #btn ul a {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: solid 0.5px rgb(80,80,80);
    padding: 1% 0;
}
.section_container .main_container .search_profile_list #btn ul a li {
    color: white;
    margin-left: 3%;
}
.section_container .main_container .search_profile_list #btn ul a li img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
@media screen and (min-width:280px) and (max-width:499px) {
    .section_container .main_container {
        max-width: 499px;
        margin: auto;
    }

    .section_container .main_container .card_board_list {
        width: 100vw;
        margin-top: 0%;
    }

    .section_container .main_container .card_board_list .card_board_cont .board_cont_item2 ul li a {
        font-size: 1.2em;
    }
    .section_container .main_container .search_profile_list {
        background-color: rgb(48, 48, 48);
        margin-top: 0%;
    }

    .section_container .main_container .search_profile_list .profile ul a li img {
        width: 60px;
        height: 60px;
    }

    .section_container .main_container .search_profile_list #btn ul a li img {
        width: 60px;
        height: 60px;
    }
    .section_container .main_container .search_profile_list .profile ul a li {
        
    }
    .section_container .main_container .search_profile_list .more_view ul summary li {
        font-size: 14px;
    }
}